@model SwissLife.Slkv.Partner.ClientAppSample.Models.ContractsModel

@{
    ViewData["Title"] = "Contracts";
}

<h2>Contracts</h2>

<div>
    <h4>Contracts</h4>
    <hr />
    @if (Model.Contracts?.Any() == true)
    {
        <ul>
            @foreach (var contract in Model.Contracts)
            {
            <li>
                @contract.ContractNumber - @contract.CompanyName
                <ul>
                    <li>@Html.ActionLink("Insured persons", "InsuredPersons", "Request", new { contractId = contract.ContractId })</li>
                </ul>
            </li>
            }
        </ul>
    }
    else
    {
    <p>No contracts assigned to user. Probably you are not a admin- or super-user.</p>
    }
</div>